  /* height of the container */
  .leaflet-container {
    height: 90vh;
    width: 100%;
    border-radius: 2rem;
  }



  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  #root {
    height: 100vh;
    /* display: flex;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 4rem;
    grid-row-gap: 0px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1em;
    font-family: sans-serif;
    color: #333;*/
    background-color: #f3e4d7;
  }

  .App
  {     min-height: 66vh;
    display: grid;
    grid-template-columns: 55rem 44rem;
    column-gap: 2rem;
    align-items: start;}
  

  /* grid-template-columns: 34rem 44rem;
  column-gap: 4rem; */

  .change-base-map {
    display: flex;
    padding: 15rem 0rem;

  }

  .add-base-map {
    display: flex;
    padding: 10rem 0rem;

  }